
<% provide(:title, 'All Teams') %>
<h1>All Teams</h1>

<table>
  <% @teams.each do |team| %>
    <div>
      <%= link_to team.name, team_path(team) %>
      <%= link_to "Edit", edit_team_path(team)%>
      <%= link_to 'Remove', team, { :onclick =>  "return confirm('Are you sure?')", method: :delete } %>
    </div>
  <% end %>
</table>

<%= link_to "Add a New Team", new_team_path %>