
<% provide(:title, 'All Teams') %>
<h1>All Teams</h1>

<table>
  <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team.name, team_path(team) %></td>
  <% end %>
</table>

<%= link_to "Add a New Team", new_team_path %>
