<h1>Team Account</h1>

<% provide(:title, @team.name) %>
<h1>
  <%= @team.name %>
</h1>


<%= link_to 'Back', teams_path %>
<%= link_to 'Delete', { controller: "teams", action: "destroy", id: @team.id }, data: { confirm: 'Are you sure?' }, method: :delete %>