<h1><strong><%= Student.find(@students_team.student_id).email %></strong> has been added to <strong><%= Team.find(@students_team.team_id).name %></strong></h1><br>

<%= link_to 'Back to Groups', teams_path %>