<% provide(:title, "Help") %>
<h1>Help</h1>
<h2>For help, review the instructions below to utilize our website. Otherwise, reach out to Homie on Rails</h2>
<table class = "table">
  <tr>
    <td>
      <h2>How it works</h2>
      <div class="center">
      <h3>Our website design makes it easy to give and receive feedback as a student, or analyze feedback as an instructor.</h3>
      <ul>
        <li>Instructor creates the course</li>
        <li>Instructor creates groups and adds students to the groups</li>
        <li>Instructor assigneds projects to the teams in the course</li>
        <li>After each project, students rate their teammates in an eval assigned by the instructor</li>
        <li>Each student's overall score updates based on team ratings</li>
      </ul>
    </td>
  </tr>
</table>
</div>
