<% provide(:title, "Help") %>
<h1>Help</h1>
<p class="h4">For help, review the instructions below to utilize our website. Otherwise, reach out to Homie on Rails.</p>
<table class = "table">
  <tr>
    <td>
      <p class="h2">How it works</p>
      <h3>Our website design makes it easy to give and receive feedback as a student, or analyze feedback as an instructor.</h3>
      <ul>
        <li>Instructor creates the course</li>
        <li>Instructor creates teams and and populates them with students</li>
        <li>Instructor assigns projects to the teams in the course</li>
        <li>After each project, students rate their teammates in an evaluation assigned by the instructor</li>
        <li>Each student's overall score updates based on team ratings</li>
      </ul>
    </td>
  </tr>
</table>
