<% if student_logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="student_info">
        <%= render 'shared/student_info' %>
    </aside>
  </div>

  <% elsif instructor_logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="instructor_info">
        <%= render 'shared/instructor_info' %>
    </aside>
  </div>

<% else %>
  <div class="center jumbotron">

  <%= link_to "Students sign up now!", student_signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Instructors sign up now!", instructor_signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
