<% if student_logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="student_info">
        <%= render 'shared/student_info' %>
    </aside>
  </div>

  <% elsif instructor_logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="instructor_info">
        <%= render 'shared/instructor_info' %>
    </aside>
  </div>

<% else %>
  <div class="center jumbotron">
  <h1>Homies On Rails Peer Feedback Tool</h1>
  <h3>This is an online academic tool that helps students provide feedback to their teammates during group projects.</h3>
  <h3>Instructors can set up the groups and can see their students ratings to help them to be informed of any team issues that need to be addressed.</h3>

  <table class = "table">
    <tr>
      <td>
        <h2>How it works</h2>
        <h3>Our website design makes it easy to give and receive feedback as a student, or analyze feedback as an instructor</h3>
        <ul>
          <li>Instructor creates the course</li>
          <li>Instructor creates groups and adds students to the groups</li>
          <li>Instructor assigneds projects to the teams in the course</li>
          <li>After each project, students rate their teammates in an eval assigned by the instructor</li>
          <li>Each student's overall score updates based on team ratings</li>
        </ul>
      </td>
    </tr>
  </table>

  <h3>Get Started now! Sign up below.</h3>
  <%= link_to "Students sign up", student_signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Instructors sign up", instructor_signup_path, class: "btn btn-lg btn-primary" %>

  </div>
<% end %>
