<%# Shows all projects assigned to one specific group %>
<h1><strong><%= Group.find(@assignment.group_id).gname %></strong> has been added to <strong><%= Project.find(@assignment.project_id).name %></strong></h1><br>

<%= link_to 'Back to Projects', projects_path %>
