<h1>Students#edit</h1>

<h3>Update Student Details</h3>
<%= form_with model: @student do |form| %>
  <%= form.text_field :name, placeholder: "name" %>
  <%= form.text_field :motto, placeholder: "email" %>
  <%= form.submit %>
<% end %>
