<% provide(:title, 'All instructors') %>
<h1>All instructors</h1>

<table>
  <% @instructors.each do |instructor| %>
    <tr>
      <td><%= link_to instructor.name, instructor_path(instructor) %></td>
      <td><%= button_to 'Edit', edit_instructor_path(instructor), method: 'get'%></td>
      <td><%= button_to 'Remove', instructor_path(instructor), method: 'delete', data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</table>
<%= link_to "Add a New instructor", new_instructor_path %>
