<% provide(:title, 'All Instructors') %>
<h1>Instructors</h1>

<table>
  <% @instructors.each do |instructor| %>
    <tr>
      <td><%= link_to instructor.name, instructor_path(instructor) %></td>
      <td><%= button_to 'Edit', edit_instructor_path(instructor), method: :get %></td>
      <td><%= button_to 'Remove', instructor, { :onclick =>  "return confirm('Are you sure?')", method: :delete } %></td>
    </tr>
  <% end %>

</table>
<%= link_to "Add a New instructor", new_instructor_path %>
