<h1>
  <%= link_to gravatar_for(current_instructor), current_instructor %>
  <%= current_instructor.name %>
</h1>
<br>
<span><%= link_to "View Profile", current_instructor, :class => 'btn btn-default' %></span>
<span><%#COMMENTED OUT= pluralize(current_student.evals.count, "evals") %></span>
