<%# home page before users have done anything on the site %>
<table class="landing-page">
  <tr>
    <td class="text">
      <h3>This is an online academic tool that helps students provide feedback to their teammates during group projects.<h3>
    </td>
    <td>
      <h1>How it works</h1>
      <ul>
        <li>Instructor creates the class</li>
        <li>Instructor creates groups and adds students to the groups</li>
        <li>After each project, the students rate their teammates</li>
        <li>Each student's overall score updates automatically based on team ratings</li>
      </ul>
    </td>
  </tr>
</table>

<% if !logged_in? %>
    <%= link_to "Sign Up Now!", new_user_path,:class=>"btn btn-default", id: "btn"%>
<% end %>
<br><br><br><br><br>